api-client
rapidfuzz
ipywidgets
ipykernel
itables
nameparser
pandas
numpy
pyarrow
plotly
python-dotenv
requests
pylint
flake8
nbqa
Unidecode
tenacity
pycountry
openpyxl
xlsxwriter
duckdb
flask
marimo
lxml
bs4
dateparser
python-epo-ops-client
streamlit
apscheduler
streamlit-authenticator

bcrypt
PyYAML
